form {
    display: block;
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.login {
    margin: 50px auto 10px auto !important;
}

.bad-value {
    border: 2px solid #ff276f !important;
}

.dirty {
    background-color: rgb(233, 218, 218);
    box-shadow: #ccc 1px 1px 12px;
}

.input {
    background-color: #fff;
    box-shadow: #ccc 1px 1px 12px;
}

.valid {
    background-color: #c8efdb;
    box-shadow: #ccc 1px 1px 12px;
}

.required {
    color: red;
}

input[type="text"] {
    border: 1px solid silver;
    border-radius: 5px;
    height: 25px;
    padding-left: 5px;
}

input[type="password"] {
    border: 1px solid silver;
    border-radius: 5px;
    height: 25px;
    padding-left: 5px;
}

input[type="submit"] {
    height: 33px;
    background-color: rgb(184, 12, 12);
    color: white;
    border: 2px solid rgb(184, 12, 12);
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(207, 24, 24);
}

@media (max-width: 900px) {
    form {
        width: 85%;
    }
}

.form-row {
    display: flex;
    position: relative;
}

.hide {
    display: none;
}

.show{
    display:block;
}

.error-msgs {
    position: absolute;
    top: 25px;
    right: 5px;
    font-size: 12px;
    color:white;
    background-color: black;
    border-radius: 3px;
    padding: 2px 8px;
    z-index: 1000;
    width: 50%;
}

.error-msgs-login {
    position: absolute;
    top: 25px;
    right: -5px;
    font-size: 12px;
    color:white;
    background-color: black;
    border-radius: 3px;
    padding: 2px 8px;
    z-index: 1000;
    width: 50%;
}

.invalid-value-error{
    background-color: rgb(233, 177, 93);
    color: black;
}

.form-row>label {
    flex: 1;
}

.form-row>input {
    flex: 2;
}