form {
    display: block;
    width: 400px;
    margin: 50px auto;    
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

input[type="text"]{
    border: 1px solid silver;
}

input[type="password"]{
    border: 1px solid silver;
}

@media (max-width: 900px){
    form{
        width: 85%;        
    }
}

.form-row {
    display: flex;
}

.form-row>label {
    flex: 1;
}

.form-row>input {
    flex: 2;
}
